<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DEV" providerName="System.Data.SqlClient" connectionString="Data Source=[HOST]; Initial Catalog=[DATABASE]; User Id=[USER]; Password=[PASSWORD];" />
    <add name="PROD" providerName="System.Data.SqlClient" connectionString="Data Source=[HOST]; Initial Catalog=[DATABASE]; User Id=[USER]; Password=[PASSWORD];"/>
    <add name="PREPROD" providerName="System.Data.SqlClient" connectionString="Data Source=[HOST]; Initial Catalog=[DATABASE]; User Id=[USER]; Password=[PASSWORD];"/>
    <add name="RECETTE" providerName="System.Data.SqlClient" connectionString="Data Source=[HOST]; Initial Catalog=[DATABASE]; User Id=[USER]; Password=[PASSWORD];"/>
  </connectionStrings>      
</configuration>